.slide {
  min-height: 100vh;
  height: 100%;
  width: 1px;
  opacity: 0;
  transition: all 0.75s ease;
  position: fixed;
  right: 0px;
  top: 0px;

  &.active {
    opacity: 1;
    min-height: 100vh;
    height: 100%;
    width: 95vw;
    background-color: #fff;
    z-index: 10;
    position: fixed;
    right: 0px;
    overflow-y: scroll;
    height: 100%;
  }
}

.icon {
  position: absolute;
  top: 10px;
  z-index: 99;
  left: 10px;
  font-size: 40px;
  font-weight: 400;
  color: #232323;
  cursor: pointer;
}
